streamlit==1.33.0
pandas==2.2.2
requests==2.31.0
beautifulsoup4==4.12.3
markdown-it-py==3.0.0
mdurl==0.1.2
rich==14.0.0
pygments==2.19.1
sentence-transformers==2.7.0
transformers==4.36.2
accelerate==0.25.0
torch==2.2.1
faiss-cpu==1.7.4
langchain==0.1.16
langchain-community==0.0.33
numpy
